h1{
  text-align: center;
}
img{
  max-width: 100%;
  height:auto;
  display:block;
  margin: auto;
}
#img-div {
  position: relative;
  text-align: center;
  display: block;
  background-color: white;
    
  padding: 15px;
}
h2{
  margin-left: 15%;
  margin-right: 15%;
}  
p{
  margin-left: 15%;
  margin-right: 15%;
 }
body{
  background-color: #D3D3D3;
}